<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles.css">
    <title>Optic Store</title>
</head>

<body>
    <nav>

    </nav>
    <div class="">
        <h2 class="">
            Bienvenido, <%= user.email %>
                <form id="logout-form" action="/auth/logout" method="POST">
                    <button type="submit">
                        Logout
                    </button>
                </form>

        </h2>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div>
            <h3 style="text-align: center; margin-top: 16px;"> Agrega un producto! </h3>
        </div>
        <form id="products-form" action="/products" method="POST">
            <div style="margin-bottom: 16px;">
                <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <label for="nombre"> Nombre: </label>
                    <br>
                    <input type="text" name="title" id="name-input" style="margin-bottom: 16px;" class="input-file"
                        required>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <label for="precio"> Precio: </label>
                    <br>
                    <input type="number" name="price" id="price-input" style="margin-bottom: 16px;" step=".01"
                        class="input-file" required>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <label for="description"> Descripción: </label>
                    <br>
                    <input type="text" name="description" id="description-input" style="margin-bottom: 16px;" step=".01"
                        class="input-file" required>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <label for="stock"> Stock: </label>
                    <br>
                    <input type="number" name="stock" id="stock-input" style="margin-bottom: 16px;" step=".01"
                        class="input-file" required>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <label for="imagen"> URL Imagen: </label>
                    <br>
                    <input type="text" name="thumbnail" id="image-input" style="margin-bottom: 16px;" required
                        class="input-file">
                </div>
                <div style="display: flex; justify-content: center; align-items: center;"><input type="submit"
                        id="submit-btn" value="Crear producto" class="submit-button"></div>
            </div>
        </form>
    </div>
    <div id="products-table"></div>
    <br>
    <br>
    <div id="chat-div">
        <form id="email-form" action="">
            <label for="email">Ingresa tu correo electrónico para ingresar al chat: </label>
            <input id="email-input" type="email" name="email" required>
            <button id="chat-btn" type="submit">Chatear</button>
        </form>
        <br>
        <br>
        <div id="messages-div"> </div>
        <form id="chat-form" action="">
            <textarea name="message" id="message-text" cols="40" rows="10"></textarea>
        </form>
    </div>
    <footer>

    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../../index.js"></script>

</html>